<div class="logo-holder" id="logo-holder">
	
	<a href="#" class="toggle"><i></i></a>
	<a href="/"><img src="/assets/images/wrapped_logo.svg" alt="wrapped logo"/></a>
</div>
<div class="left-content">
	<div class="menu-holder">
		<ul class="menu">
			<li><a href="/about-us"><img src="/assets/images/about.svg" alt="About Us"/></a></li>
			<li><a href="/why-us"><img src="/assets/images/why_us.svg" alt="Why Us"/></a></li>
			<li><a href="/services"><img src="/assets/images/services.svg" alt="Services"/></a></li>
			<li><a href="/our-work"><img src="/assets/images/work.svg" alt="Our Work"/></a></li>
			<li><a href="/contact-us"><img src="/assets/images/contact.svg" alt="Contact Us"/></a></li>
		</ul>
	</div>
	<div class="social-holder">
		<a href="http://instagram.com/wrappedproductions" target="blank"><i class="fa fa-instagram"></i></a>
		<!-- Future Links 
		<i class="fa fa-twitter"></i>
		<i class="fa fa-youtube"></i>
		<i class="fa fa-pinterest"></i>
		-->
	</div>
</div>
<div class="menu-curtain"></div>