<div class="logo-holder" id="logo-holder">
	<a id="nav-toggle" href="#"><span></span></a>
	<a href="/"><img src="/assets/images/wrapped_logo.svg" alt="wrapped logo"/></a>
</div>
<div class="left-content">
	<div class="menu-holder">
		<ul class="menu">
			<li><a href="/about-us" class="animsition-link">About Us</a></li>
			<li><a href="#">Why Us</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Our Work</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>

	<div class="social-holder">
		<i class="fa fa-facebook"></i>
		<i class="fa fa-twitter"></i>
		<i class="fa fa-youtube"></i>
		<i class="fa fa-pinterest"></i>
	</div>

</div>

<div class="menu-curtain"></div>