<div class="page-content">
	<div class="work-content">
			<div class="cover-holder">
				<div class="cover {{ page.id }}"></div>
			</div>
		<div class="titleback"></div><div class="title"><p>{{ page.description }}</p></div>
	</div>
	<div class="work-selector"><img src="/assets/images/wrapped_workselector.svg"/></div>
	<div class="right-content">
		<div class="more-work-holder">
			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 moreworkrow">
				{% for image in site.data.gallery.morework %}
					<li><a href="{{ image.link }}"><img src="{{ site.data.gallery.moreprojects }}{{ image.name }}"/></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="work-curtain"></div>
	{% include header.html %}
</div>
