$assets : "../assets/images";

.indexcover
	{
	  	background: url('#{$assets}/home_5.jpg') no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	  	background-size: cover;
	}

	.aboutcover
	{
	  	background: url('#{$assets}/cover_red.jpg') no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	  	background-size: cover;
	}

	.whyuscover
	{
	  	background: url('#{$assets}/cover_guy.jpg') no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	  	background-size: cover;
	}

	.servicescover
	{
	  	background: url('#{$assets}/services.jpg') no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	  	background-size: cover;
	}

	.contactcover
	{
	  	background: url('#{$assets}/contact.jpg') no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	  	background-size: cover;
	}			


			.arcadia
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_arcadia_10.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.evans
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_big_sur.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.evanshudson
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_hudson.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.laura
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_laura_catterall.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.lingerie
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_lingerie.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.liveunlimited
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_live_unlimited.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}


			.palmsprings
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_palm_springs.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.scenes
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_show_behind_the_scenes.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}


			.lookbook
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_ss14_lookbook.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

//

			.cut2013
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_the_cut_2013.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.cut2014
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_the_cut_2014.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.turks
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_evans_turks.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.stilllife
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_toni_guy_36_beauty_still_life.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.grooming
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_toni_guy_36_grooming_still_life.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.hair
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_toni_guy_36_hair_beauty.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.womanswear
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_toni_guy_36_womenswear.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}

			.menswear
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_toni_guy_37_menswear.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}


			.sopexa
			{
			  	background: url('#{$assets}/wrapped_thumbs/thumb_toni_guy_37_sopexa.jpg') ; 
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
			  	background-size: cover;
			}







